.loading {
  height: 100vh;
  background-color: #fff;
  color: #120b48;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loading p {
  padding-top: 10%;
  font-size: 34px;
  font-weight: 600;
}

.container {
  padding: 2% 6% 2% 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container h2 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
}

.container a {
  background-color: #120b48;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
}

.container p {
  color: gray;
  margin-bottom: 50px;
}

.container form {
  background-color: #e7e7ed;
  padding: 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.container form input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  width: 300px;
  font-size: 14px;
}

.recent {
  border-top: 1px solid #0000001a;
  padding: 2% 6% 2% 6%;
}

.videoCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.videoCont h2 {
  font-size: 20px;
  font-weight: 500;
  color: #141414;
  padding-top: 10px;
}

.videoCont p {
  color: #b6b3c6;
  font-size: 16px;
  font-weight: 400;
}

.recent .video {
  padding: 20px;
  border: 1px solid #b6b3c6;
  border-radius: 20px;
}

.recent video {
  width: 600px;
  border-radius: 20px;
}
